<!DOCTYPE html>
<html>
<head>
  <title>FlappyBird</title>
  <%# stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <% javascript_include_tag "application", "data-turbolinks-track" => true %>
  <!-- <script type="text/javascript" src="assets/phaser.min.js"></script>
  <!-- <script type="text/javascript" src="assets/main.js"></script> -->
  <!-- <script type="text/javascript" src="assets/tower_ninja.js"></script>
  <%= csrf_meta_tags %> -->
</head>
<body>

<%= yield %>

</body>
</html>